<launch>

    <!-- ============================= -->
    <!-- Load CIRTESU robot description -->
    <!-- ============================= -->
    <node name="nedtocirtesu" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 3.1416 0 0 world_ned cirtesu_base_link" />

    <!-- ============================= -->
    <!-- Downward camera localization node -->
    <!-- ============================= -->
    <node
        pkg="tandem_girona"
        type="down_camera_localization.py"
        name="down_camera_localization"
        output="screen"
        respawn="false">
    </node>

</launch>
